<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <configSections>
    <section name="sitecore" type="Sitecore.ConfigReader, Sitecore.ConfigReader" />
  </configSections>
  <appSettings>
  </appSettings>
  <sitecore>
    <implementations>
      <!-- MASTER DATA -->
      <implementation implements="Sitecore.IIndex" class="Sitecore.Index" configName="master" defaultDataProvider="master" preloadData="false" activateLinks="true" trackParents="true" indexFile="masterindex.xml" />

      <implementation implements="Sitecore.IDataProvider" class="Sitecore.XmlDataProvider" configName="master" readOnly="false" useCache="true" cachePriority="Normal" xmlFile="masterdata.xml" />

      <!-- WEB DATA -->
      <implementation implements="Sitecore.IIndex" class="Sitecore.Index" configName="web" defaultDataProvider="web" preloadData="false" activateLinks="true" trackParents="true" indexFile="webindex.xml" />
      
      <implementation implements="Sitecore.IDataProvider" class="Sitecore.XmlDataProvider" configName="web" readOnly="false" useCache="true" cachePriority="Normal" xmlFile="webdata.xml" />
        
      <!-- WEBEDIT DATA -->
      <implementation implements="Sitecore.IIndex" class="Sitecore.Index" configName="webedit" defaultDataProvider="webedit" preloadData="false" activateLinks="true" trackParents="true" indexFile="webeditindex.xml" />
        
      <implementation implements="Sitecore.IDataProvider" class="Sitecore.XmlDataProvider" configName="webedit" readOnly="false" useCache="true" cachePriority="Normal" xmlFile="webeditdata.xml" />
        
      <!-- PREVIEW DATA -->
      <implementation implements="Sitecore.IIndex" class="Sitecore.Index" configName="preview" defaultDataProvider="preview" forceDefaultProvider="true" activateLinks="true" trackParents="true" />
        
      <implementation implements="Sitecore.IDataProvider" class="Sitecore.PreviewDataProvider" configName="preview" useCache="true" cachePriority="AboveNormal" />
        
      <!-- Web engine -->
      <implementation implements="Sitecore.IWebEngine" class="Sitecore.WebEngine" configName="" />
      
      <!-- Publisher -->
      <implementation implements="Sitecore.IPublisher" class="Sitecore.Publisher" configName="" />
      
    </implementations>
    <!-- XSL EXTENSION OBJECTS
         Classes must have parameterless constructor. If initialization is needed, 
         the class may implement the interface IXslExtension.
         Supported attributes: 
         
             mode=[on|off]
             type=full namespace of class (case-sensitive)
             assembly=name of dll containing the class (case-sensitive)
             namespace=unique namespace used when mapping the object into the xsl
         
         All other attributes will be passed to the object during initialization (assuming 
         that the class implements IXslExtension)
    -->
    <xslExtensions>
      <extension mode="on" type="Sitecore.XslHelper" namespace="http://www.sitecore.net/sc" assembly="Sitecore.XslHelper" />
      <extension mode="on" type="Sitecore.MainUtil" namespace="http://www.sitecore.net/util" assembly="Sitecore.Kernel" />
      <extension mode="on" type="Sitecore.DateUtil" namespace="http://www.sitecore.net/dateutil" assembly="Sitecore.Kernel" />
      <extension mode="on" type="Sitecore.WebControls.ContentDot" namespace="http://www.sitecore.net/dot" assembly="Sitecore.WebControls" />
      <extension mode="on" type="Sitecore.SqlHelper" namespace="http://www.sitecore.net/sql" assembly="Sitecore.SqlHelper" />
    </xslExtensions>
    <!-- XSL CONTROLS
         Classes must implement the interface IXslControl.
         Supported attributes: 
         
             mode=[on|off]
             tag=control tag (ex. 'sc:text'). Can be '*' which matches all unhandled tags. Case sensitive.
             tagPrefix=unique control tag prefix (ex. 'sc'). Only used if 'tag' is not set. Case sensitive.
             type=full namespace of class. Case-sensitive.
             assembly=name of dll containing the class. Case-sensitive.
         
         All other attributes will be passed to the object during initialization
    -->
    <xslControls>
      <control mode="on" tag="sc:date" type="Sitecore.XslControls.Date" assembly="Sitecore.XslControls" />
      <control mode="on" tag="sc:dot" type="Sitecore.XslControls.ContentDot" assembly="Sitecore.XslControls" />
      <control mode="on" tag="sc:html" type="Sitecore.XslControls.Html" assembly="Sitecore.XslControls" />
      <control mode="on" tag="sc:image" type="Sitecore.XslControls.Image" assembly="Sitecore.XslControls" />
      <control mode="on" tag="sc:link" type="Sitecore.XslControls.Link" assembly="Sitecore.XslControls" />
      <control mode="on" tag="sc:sec" type="Sitecore.XslControls.Security" assembly="Sitecore.XslControls" />
      <control mode="on" tag="sc:text" type="Sitecore.XslControls.Text" assembly="Sitecore.XslControls" />
    </xslControls>
    <!-- EVENT HANDLERS
         See sub sections for more info
    -->
    <eventHandlers>
      <!-- Exception handlers - must implement IExceptionEventHandler -->
      <exceptions>
        <handler mode="on" assembly="Sitecore.Logging" type="Sitecore.Logging" />
      </exceptions>
      <!-- Item handlers - must implement IItemEventHandler -->
      <items>
        <handler mode="on" assembly="Sitecore.Logging" type="Sitecore.Logging" />
        <handler mode="on" assembly="Sitecore.WebEdit" type="Sitecore.WebEdit.ItemEventHandler" />
        <handler mode="on" assembly="Sitecore.PreviewDataProvider" type="Sitecore.Preview.ItemEventHandler" />
      </items>
      <!-- Media handlers - must implement IMediaEventHandler -->
      <media>
        <handler mode="on" assembly="Sitecore.Logging" type="Sitecore.Logging" />
      </media>
      <!-- Publishing handlers - must implement IPublishingEventHandler -->
      <publishing>
        <handler mode="on" assembly="Sitecore.Publisher" type="Sitecore.PublishingHandler" function="load" target="web" />
	<handler mode="on" assembly="Sitecore.Publisher" type="Sitecore.PublishingHandler" function="load" target="webedit" />
        <handler mode="on" assembly="Sitecore.Publisher" type="Sitecore.PublishingHandler" function="delete" />
      </publishing>
      <!-- Trace handlers - must implement ITraceEventHandler -->
      <trace>
        <handler mode="on" assembly="Sitecore.Logging" type="Sitecore.Logging" />
      </trace>
      <!-- Custom event handlers - must implement IEventHandler -->
      <custom>
        <handler mode="on" assembly="Sitecore.Logging" type="Sitecore.Logging" />
      </custom>
    </eventHandlers>
    <!-- PAGE HANDLERS
         Can be class (specified by assembly and type) or web page (specified by url).
         Classes must implement IPageHandler
         Urls must be relative. Ex.: /test.aspx 
    -->
    <pageHandlers>
      <handler mode="on" name="Global" url="/global.aspx" expectedResult="OK" />
      <handler mode="off" name="Statistics" assembly="Sitecore.Logging" type="Sitecore.Logging" />
    </pageHandlers>
    <!-- CLEANUP
         Specifies files to be cleaned up by the Sitecore.Cleanup scheduled 
         task (see the scheduledTasks section)
         If the Sitecore.Cleanup scheduled task is not active, this section 
         will be ignored.
         If rolling="true", minCount and maxCount will be ignored.
         minAge and maxAge must be specified as hh:mm:ss. The default value 
         of minAge is 30 minutes.
         The strategy is: number of files within hour, day, week, month, year 
    -->
    <cleanup>
      <files mode="on" pattern="masterdata.*.xml" minAge="00:10:00" rolling="true" strategy="4,3,2,0,0" />
      <files mode="on" pattern="webdata.*.xml" minAge="00:10:00" rolling="true" strategy="4,3,2,0,0" />
      <files mode="on" pattern="webeditdata.*.xml" minAge="00:10:00" rolling="true" strategy="4,3,2,0,0" />

      <files mode="on" pattern="masterindex.*.xml" minAge="00:10:00" rolling="true" strategy="4,3,2,0,0" />
      <files mode="on" pattern="webindex.*.xml" minAge="00:10:00" rolling="true" strategy="4,3,2,0,0" />
      <files mode="on" pattern="webeditindex.*.xml" minAge="00:10:00" rolling="true" strategy="4,3,2,0,0" />

      <files mode="on" pattern="masterdata_*.xml" maxAge="20:00:00" />
      <files mode="on" pattern="webdata_*.xml" maxAge="20:00:00" />
      <files mode="on" pattern="webeditdata_*.xml" maxAge="20:00:00" />

      <files mode="on" pattern="masterindex_*.xml" maxAge="20:00:00" />
      <files mode="on" pattern="webindex_*.xml" maxAge="20:00:00" />
      <files mode="on" pattern="webeditindex_*.xml" maxAge="20:00:00" />

      <files mode="on" pattern="log.*.txt" maxCount="5" />
      <files mode="on" pattern="audit.*.txt" maxCount="5" />
      <files mode="on" pattern="publish_*.xml" maxAge="02:00:00" />
    </cleanup>
    <!-- SCHEDULED TASKS
          Can be class (specified by assembly and type) or web page (specified by url).
          Classes must implement IScheduledTask
          Urls must be complete. Ex.: http://localhost/test.aspx 
    -->
    <scheduledTasks>
      <task mode="on" name="Cleanup" frequency="01:00:00" assembly="Sitecore.Cleanup" type="Sitecore.CleanupTask" />
      <task mode="on" name="Status" frequency="00:10:00" assembly="Sitecore.Scheduler" type="Sitecore.StatusTask" />
      <task mode="off" name="KeepAlive" frequency="00:10:00" url="http://localhost/sitecore/admin/keepalive.aspx" />
      <task mode="off" name="Publish" frequency="01:00:00" assembly="Sitecore.Publisher" type="Sitecore.PublishTask" publishmode="all" groups="internet" />
      <task mode="off" name="WebEdit publish" frequency="00:30:00" assembly="Sitecore.WebEdit" type="Sitecore.WebEdit.SyncTask" />
    </scheduledTasks>
    <!-- CLIENT SCRIPTS 
           These script files are included in the client.
    -->
    <clientscripts>
      <everypage></everypage>
      <controllerpage></controllerpage>
      <htmleditor></htmleditor>
      <contentpage></contentpage>
    </clientscripts>
    <!-- PUBLISH REPLACEMENTS
           Specifies text replacements that are run as part of publishing
    -->
    <publishReplacements>
      <replace mode="on" find="(?&lt;1>medialibid=&quot;[^&quot;]*&quot;)" replaceWith="" simpleTest="medialibid" ignoreCase="false" />
      <replace mode="on" find="(?&lt;1>sc_mediaid=&quot;[^&quot;]*&quot;)" replaceWith="" simpleTest="sc_mediaid" ignoreCase="false" />
      <replace mode="on" find="medialibid" replaceWith="" simple="true" />
    </publishReplacements>
    <!-- ENCODE NAME REPLACEMENTS
           Specifies text replacements to use when encoding special chars in friendly urls
    -->
    <encodeNameReplacements>
      <replace mode="on" find="&amp;" replaceWith=",-a-," />
      <replace mode="on" find="?" replaceWith=",-q-," />
      <replace mode="on" find="/" replaceWith=",-s-," />
      <replace mode="on" find="*" replaceWith=",-w-," />
      <replace mode="on" find="." replaceWith=",-d-," />
      <replace mode="on" find=":" replaceWith=",-c-," />
    </encodeNameReplacements>
    <!-- REQUIREMENTS
           Database version requirement
    -->
    <requirements>
      <database version="4.3.2" upgradePage="/sitecore/admin/upgrade" />
    </requirements>
    <!--  SITES
          Enable different web sites for different domains in the same Sitecore structure
          Supported attributes: 
           
              mode=[on|off]
              domain=all or part of the domain name
              itemPath=path to root item for the domain
              language=default language for domain
              layoutGroup=default layout group for domain
           
    -->
    <sites>
      <site mode="off" domain="localhost" itemPath="/home" language="en" layoutGroup="" />
    </sites>
    <settings>
      <!--  ALIASES
            Turn the following setting on to use aliases
      -->
      <setting name="AliasesActive" value="true" />
      <!--  ALLOW LOGOUT OF ALL USERS
            Indicates if the logout screen presents all users or 
            just users with the same name
      -->
      <setting name="AllowLogoutOfAllUsers" value="false" />
      <!--  QUERY STRINGS IN URL RENDERINGS
            If this setting is true, all the query strings of the main page is passed 
            to all url renderings
      -->
      <setting name="AppendQSToUrlRendering" value="true" />
      <!--  AUDITING
            The following value define the physical location of the audit file.
            Can be site path (ex. /folder/...) or absolute (ex. c:\folder\...)
      -->
      <setting name="AuditFile" value="/data/audit.txt" />
      <!--  AUTOMATIC DATA BIND
            Indicates if the data bind function is run automatically
      -->
      <setting name="AutomaticDataBind" value="true" />
      <!--  MEMORY CHECKS
            Interval between checking if cache needs to be scavenged 
            (format: hh:mm:ss)
      -->
      <setting name="CacheMemoryCheckInterval" value="00:01:00" />
      <!--  CACHE SLEEP
            Indicates how long the cache will sleep (ie. be disabled) after an overrun.
            (format: hh:mm:ss)
      -->
      <setting name="CacheSleep" value="00:01:00" />
      <!--  CACHE TIMEOUT
            Indicates how long the entries in cache will survive.
            (format: hh:mm:ss)
      -->
      <setting name="CacheTimeout" value="23:00:00" />
      <!--  CHECK EXTRANET SECURITY
            If true, extranet security will be enforced on the web site.
            If false, only controls checking security will enforce it.
      -->
      <setting name="CheckExtranetSecurity" value="true" />
      <!--  CHECK SECURITY ON LANGUAGES
            Indicates if security on languages controls the content area
      -->
      <setting name="CheckSecurityOnLanguages" value="false" />
      <!--  CHECK SECURITY ON LOOKUPS
            Indicates if security is checked for items in lookup controls
      -->
      <setting name="CheckSecurityOnLookups" value="false" />
      <!--  CHILD PROVIDERS ON/OFF
            Indicates if child providers will be called
      -->
      <setting name="ChildProvidersActive" value="false" />
      <!--  CLIENT LANGUAGE 
            Specifies the default client language
      -->
      <setting name="ClientLanguage" value="en" />
      <!--  CLIENT STYLESHEET 
            Can be used to override the default theme based stylesheets used in 
            the Sitecore client
      -->
      <setting name="ClientStylesheet" value="" />
      <!--  DATA FOLDER
            Path to data folder
            Can be site path (ex. /folder/...) or absolute (ex. c:\folder\...)
      -->
      <setting name="DataFolder" value="/data" />
      <!--  DEBUG ALLOWED
            Specifies if website debugging is allowed using /sitecore/debug
      -->
      <setting name="DebugAllowed" value="true" />
      <!--  DEBUG BORDERS
            Control html tag used for debug borders (usually span or div)
            and color
      -->
      <setting name="DebugBorderColor" value="red" />
      <setting name="DebugBorderTag" value="span" />
      <!--  DESKTOP
            The default desktop to show when starting the Sitecore client
      -->
      <setting name="DefaultDesktop" value="/sitecore/client/desktops/standard/default.aspx" />
      <!--  DEFAULT ICON
            Default icon for items in the Sitecore client
      -->
      <setting name="DefaultIcon" value="/sitecore/client/images/document.gif" />
      <!--  START DOCUMENT
            The document that will be shown first when entering the Sitecore client. 
            Path is rooted in /sitecore/content and must start with /.
      -->
      <setting name="DefaultItem" value="/home" />
      <!--  LANGUAGE
            The default language (iso code) for the web site and the Sitecore client
      -->
      <setting name="DefaultLanguage" value="en" />
      <!--  PUBLISHING GROUPS
            Pipe separated list of default publishing groups.
            Groups in this list will be preselected in the Publish dialog.
      -->
      <setting name="DefaultPublishingGroups" value="" />
      <!--  DEFAULT SORTORDER VALUE
            The default value of the sort order attribute on items
      -->
      <setting name="DefaultSortOrderValue" value="0" />
      <!--  SQL timeout
            The default timeout for SQL commands
      -->
      <setting name="DefaultSQLTimeout" value="00:03:00" />
      <!--  THEME
            The default theme to use in the Sitecore client
      -->
      <setting name="DefaultTheme" value="standard" />
      <!--  DISABLE BROWSER CACHING
            If true, all pages will have:
              Cache-Control: no-cache, no-store
              Pragma: no-cache
            in the http header
      -->
      <setting name="DisableBrowserCaching" value="true" />
      <!--  DISABLE CACHE INDUCED GARBAGE COLLECTIONS
            If true, cache operations will never result in forced garbage collections
      -->
      <setting name="DisableCacheGC" value="false" />
      
      <!--  DISABLE ALL FORCED GARBAGE COLLECTIONS
            If true, forced garbage collections will never be invoked by Sitecore
      -->
      <setting name="DisableForcedGC" value="false" />
      <!--  DISABLE CACHE CLEAR ON MEMORY OVERRUN
            Limit is MaxCacheMemory. If true, existing entries are kept in cache.
      -->
      <setting name="DisableOverrunCacheClear" value="false" />
      <!--  DISABLE PUBLISHING INDUCED GARBAGE COLLECTIONS
            If true, publishing operations will never result in forced garbage collections
      -->
      <setting name="DisablePublishGC" value="false" />
      <!--  ERROR HANDLER
            Url of page handling generic errors
      -->
      <setting name="ErrorUrl" value="/sitecore/error.aspx" />
      <!--  FAST PUBLISHING
            Use fast publishing?
            Remember to do a full publish after changing this setting on or off.
      -->
      <setting name="FastPublishing" value="false" />
      <!--  GARBAGE COLLECTION
            Interval between forced garbage collection (format: hh:mm:ss)
            To disable, set the value to 00:00:00
      -->
      <setting name="GarbageCollectInterval" value="00:01:00" />
      <!--  THUMBNAILS
            Determines whether thumbnails should be generated when uploading images
            (0=do not generate, 1=generate)
      -->
      <setting name="GenerateThumbnails" value="1" />
      <!--  HTML CACHING
            Controls whether the output of layouts, renderings etc. will be cached.
            Caching must also be enabled on the individual layouts and renderings.
      -->
      <setting name="HtmlCaching" value="false" />
      <!--  HTML CACHING TIMEOUT
            Time to keep output of layouts, renderings etc. in memory.
            Caching must also be enabled on the individual layouts and renderings.
            Format of value: hh:mm:ss
            Set to 00:00:00 to allow infinite caching
      -->
      <setting name="HtmlCachingTimeout" value="20:00:00" />
      <!--  HTML EDITOR BACKGROUND
            Specifies the background color of the HTML editor
      -->
      <setting name="HtmlEditorBackground" value="window" />
      <!--  URL MAPPING
            Set IgnoreUrlPrefixes to a '|' separated list of url prefixes that should not be 
            regarded and processed as friendly urls (ie. forms etc.)
      -->
      <setting name="IgnoreUrlPrefixes" value="/images/|/layouts/|/trace.axd|/tools/|/sitecore/|/test.aspx" />
      <!--  IMAGE SIZE THRESHOLD
            Specifies the max. size of an image in the media libray.
            If the size is exceeded an alternate image is shown.
      -->
      <setting name="ImageSizeThreshold" value="32768" />
      <!--  IMAGES
            List of file extensions to regard as images when uploading (separated by |). 
            Must begin and end with a pipe character (|)
      -->
      <setting name="ImageTypes" value="|gif|jpg|png|" />
      <!--  INDEX SAVING
            Defines the timespan between saving index files
      -->
      <setting name="IndexSaveInterval" value="00:02:00" />
      <!--  ITEM LINKS ON/OFF
            Indicates if linked nodes will be expanded
      -->
      <setting name="ItemLinksActive" value="false" />
      <!--  ITEM NOT FOUND HANDLER
            Url of page handling 'Item not found' errors
      -->
      <setting name="ItemNotFoundUrl" value="/sitecore/notfound.aspx" />
      <!--  LayoutGroupQSName
            Specifies the name of the parameter on the querystring that controls
            a layout group, eg. http://foo.foo.com?lg=print
      -->
      <setting name="LayoutGroupQSName" value="lg" />
      <!--  LAYOUT NOT FOUND HANDLER
            Url of page handling 'Layout not found' errors
      -->
      <setting name="LayoutNotFoundUrl" value="/sitecore/nolayout.aspx" />
      <!--  LICENSE RETRIES
            Number of times to try to retreive a required license.
      -->
      <setting name="LicenseRetryCount" value="5" />
      <!--  LICENSE
            This value define the physical location of the license file.
            Can be site path (ex. /folder/...) or absolute (ex. c:\folder\...)
      -->
      <setting name="LicenseFile" value="/data/license.xml" />
      <!--  LOCALIZATION FOLDER
            Root folder of localization files
            Can be site path (ex. /folder/...) or absolute (ex. c:\folder\...)
      -->
      <setting name="LocalizationFolder" value="/sitecore/client/localization/" />
      <!--  LOGIN LAYOUT
            Name or id of layout to use for logging in to the extranet
            Only used if CheckExtranetSecurity is true
      -->
      <setting name="LoginLayout" value="Login" />
      <!--  MAINTENANCE INTERVAL
            Defines the interval between performing queued maintenance tasks
            (such as saving databases etc.) 
      -->
      <setting name="MaintenanceInterval" value="00:00:30" />
      
      <!--  MASTER DATABASE SAVING
            Defines the maximum timespan between saving and backing up the master 
            database (value format: hh:mm:ss)
      -->
      <setting name="MasterDBBackupInterval" value="01:00:00" />
      <setting name="MasterDBSaveInterval" value="00:05:00" />
      
      <!--  MAX CACHE MEMORY
            Maximum amount of memory used (in megabytes) before flushing cache
            Used for detection of cache overflow
            Specify 0 (zero) for unlimited amount of memory
      -->
      <setting name="MaxCacheMemory" value="700" />
      <!--  MAX NAVIGATOR LEVEL
            Maximum level of descent in a Navigator
            Used for detection of circular references between item links
      -->
      <setting name="MaxNavigatorLevel" value="100" />
      <!--  MEDIA FOLDER
            Root folder of media library files
            Can be site path (ex. /folder/...) or absolute (ex. c:\folder\...)
      -->
      <setting name="MediaFolder" value="/upload" />
      <!--  MINIMIZE PUBLISH MEMORY
            Minimize memory usage while publishing?
            If true, master cache will be flushed periodically during publishing 
            to minimize memory consumption. This will lead to longer publishing times
      -->
      <setting name="MinimizePublishMemory" value="false" />
      
      <!--  MINIMIZE SAVE OPERATIONS
            Minimize number of save operations?
            If true, the number of database save operations will be 
            minimized (especially during publishing).
      -->
      <setting name="MinimizeSaveOperations" value="true" />
      
      <!--  NO LICENSE FOUND HANDLER
            Url of page handling missing license errors
      -->
      <setting name="NoLicenseUrl" value="/sitecore/nolicense.aspx" />
      <!--  PACKAGE PATH
            Specifies the path where packages are located.
      -->
      <setting name="PackagePath" value="/data/packages" />
      <!--  PREFETCH PREVIEW PAGE
            Should main page of the web site be prefetched when generating preview?
            If true, the root page will be retrieved using a WebClient object as soon 
            as the preview database is ready. This will result in faster performance 
            when the user selects Open from the preview dialog.
      -->
      <setting name="PrefetchPreviewPage" value="true" />
      <!--  PROCESS HISTORY
            The number of process histories to show in the log file at startup.
            Set to 0 (zero) to disable
      -->
      <setting name="ProcessHistoryCount" value="1" />

      <!--  PROTECTED SITE
            If true, the entire site will be protected and will require extranet login
      -->
      <setting name="ProtectedSite" value="false" />
      <!--  PUBLISH GC
            Garbage collect every 'PublishGCInterval' items.
            Set to zero to disable publishing GC.
            Default value: 500.
      -->
      <setting name="PublishGCInterval" value="500" />
      <!--  PUBLISH SAVE DELAY
            Time to delay automatic database save operations while publishing (hh:mm:ss)
      -->
      <setting name="PublishingSaveDelay" value="00:05:00" />
      
      <!--  PUBLISH ITEM DISABLED
            Is 'Publish item' disabled?
      -->
      <setting name="PublishItemDisabled" value="false" />

      <!--  PUBLISH MODE
            Default publishing mode. Can be 'all' or 'incremental'
      -->
      <setting name="PublishMode" value="incremental" />
      <!--  PUBLISH STATUS
            Log publishing status every 'PublishStatusInterval' items.
            Set to zero to disable publishing status in the log file.
            Default value: 500.
      -->
      <setting name="PublishStatusInterval" value="500" />
      <!--  PUBLISH STATUS TIMEOUT
            Time to cache publishing status information 
            after the publish operations finishes (hh:mm:ss)
      -->
      <setting name="PublishStatusTimeout" value="01:00:00" />
      <!--  PUBLISH THREAD PRIORITY
            Which priority should publish thread be running with?
      -->
      <setting name="PublishThreadPriority" value="BelowNormal" />
      <!--  PUBLISH WEB EDIT
            Indicates if web edit data should be published.
      -->
      <setting name="PublishWebEdit" value="true" />
      <!--  RECYCLE BIN
            If true, when deleting items in the client, they will 
            be moved to the recycle bin rateher than deleted
      -->
      <setting name="RecycleBinActive" value="true" />
      <!--  SCHEDULER FREQUENCY
            Time between checking for scheduled tasks waiting to execute
      -->
      <setting name="SchedulerFrequency" value="00:01:00" />
      <!--  SQL Server
            Default DatabaseOwner
      -->
      <setting name="SQLDatabaseOwner" value="dbo" />
      
      <!--  SQL PUBLISHING
            Use SQL publishing?
      -->
      <setting name="SqlPublishing" value="false" />
      <!--  SQL PUBLISHING
            Connection string to the SQL Server
      -->
      <setting name="SqlPublishingConnection" value="user id=...;Connect Timeout=30" />
      <!--  SQL PUBLISHING
            Which groups should be sent directly to the web db?
            Separate multiple values with a | character. Use * to include all groups.
      -->
      <setting name="SqlPublishingDBGroups" value="*" />
      <!--  SQL PUBLISHING
            Which groups should be sent to work files?
            Separate multiple values with a | character. Use * to include all groups.
      -->
      <setting name="SqlPublishingFileGroups" value="" />
      <!--  CUSTOM SESSION DATA TIMEOUT
            Timeout for custom session data
      -->
      <setting name="SessionDataTimeout" value="01:00:00" />
      <!--  CUSTOM SESSION DATA CLEANUP
            Time between cleaning up custom session data
      -->
      <setting name="SessionDataCleanupInterval" value="00:20:00" />
      <!--  SHORTEN LINKS
            Should links in html content be shortened during publish?
            If true, WebRootPath will be subtracted from all links in the html code.
      -->
      <setting name="ShortenHtmlLinks" value="true" />
      <!--  SHOW WEB EDIT DOTS
            Should dots be shown in WebEdit mode?
      -->
      <setting name="ShowEditDots" value="true" />
      <!--  STATUS REPORT PERFMON VARIABLES
            Mainly internal Sitecore usage. Each variable is separated by a pipe. Each parameter is separated by a semicolon.
	    1. parameter: Output Title in logfile, 2. parameter: Category Name, 3. parameter: variable name.
	    If Instance is needed, it should be added between 2. and 3. parameter.
      -->
      <setting name="StatusPerfmonVars" value="Req.InQ;ASP.NET;Requests Queued|Req.WaitTime;ASP.NET;Request Wait Time|%P.Time;Processor;_Total;% Processor Time" />
      <!--  STATUS REPORT INTERVAL
            How often should report be written to logfile
      -->
      <setting name="StatusReportInterval" value="00:10:00" />
      <!--  TEMPLATE EDITOR
            Path to the template editor
      -->
      <setting name="TemplateEditor" value="/sitecore/client/editors/template/template.aspx" />
      <!--  THUMBNAIL HEIGHT
            Max height of auto-generated image thumbnails. 
            If zero, the ThumbnailWidth property decides the size
      -->
      <setting name="ThumbnailHeight" value="50" />
      <!--  THUMBNAIL WIDTH
            Max width of auto-generated image thumbnails. 
            If zero, the ThumbnailHeight property decides the size
      -->
      <setting name="ThumbnailWidth" value="0" />
      <!--  HTML TIDY
            Error message to display when Tidy fails to clean html.
      -->
      <setting name="TidyError" value="An error occurred. Html may be too complex to clean or may contain tags that are not supported by the Tidy processor" />
      <!--  TRACE PUBLISHING
            Indicates if publishing trace is enabled.
      -->
      <setting name="TracePublish" value="false" />
      <!--  TRACE ROOT CHANGES
            Indicates if tracing of changes to the root item (/sitecore) is enabled.
      -->
      <setting name="TraceRootChanges" value="false" />
      <!--  THROTTLE CACHE INSERTS?
            Indicates if inserting data into the cache will be throttled
            If no value is specified, it will be the same value as the UseAspNetCache setting
      -->
      <setting name="ThrottleCache" value="false" />
      <!--  THROTTLE CACHE INTERVAL
            Number of inserts between throttling
      -->
      <setting name="ThrottleCacheInterval" value="1" />
      <!--  THROTTLE CACHE SLEEP
            Number of milliseconds to sleep when throttling
      -->
      <setting name="ThrottleCacheSleep" value="5" />
      <!--  USE ASP-NET CACHE?
            If true, use the ASP.NET Cache object, if false use the Sitecore Cache object
      -->
      <setting name="UseAspNetCache" value="true" />
      <!--  WEB EDIT BOX POSITION
            Defines the left and top position for the status box shown when web editing
      -->
      <setting name="WebEditBoxLeft" value="200" />
      <setting name="WebEditBoxTop" value="0" />
      <!--  WEB EDIT DISABLED
            Is WebEdit disabled?
      -->
      <setting name="WebEditDisabled" value="false" />
      <!--  WEB EDIT REDIRECT
            The url to redirect to after ending web editing.
            Leave blank for staying on the current page.
      -->
      <setting name="WebEditRedirectPage" value="" />
       
      <!--  ROOT PATH
            Path to the root document (if any). This value will be prepended to 
            all friendly urls.
            The value must be blank or start with a /
      -->
      <setting name="WebRootPath" value="/home" />
      <!--  WEB SITE STYLESHEET
            CSS file for HTML content of Sitecore database. 
            The file pointed to by WebStylesheet setting is automatically included into Sitecore Client. 
            By using it, you can make the content of HTML fields look the same in Sitecore Content Editor, 
            and in the actual Web Site
      -->
      <setting name="WebStylesheet" value="/default.css" />
      <!--  WEBVIEW
            Specifies if the content area webview pane if available
      -->
      <setting name="Webview" value="false" />
      <!--  LOGIN MESSAGES 
            These are the messages that are shown on the login page of the Sitecore 
            client
      -->
      <setting name="WelcomeTitle" value="Welcome to Sitecore" />
      <setting name="WelcomeText" value="Partner release - please do not distribute." />
      <!--  XSL CACHING
            Controls whether parsed xsl files will be cached in memory.
            To cache the html output of xsl files, use the HtmlCaching setting
            Caching must also be enabled on the individual layouts and renderings.
            Note: To avoid the memory leak issues described in MS knowledgebase 
            article 316775, set this setting to 'true'.
      -->
      <setting name="XslCaching" value="true" />
    </settings>
  </sitecore>

	<system.webServer>
    <modules>
		  <add type="Sitecore.HttpModule, Sitecore.HttpModule" name="SitecoreHttpModule" />
      <add type="Sitecore.Scheduler, Sitecore.Scheduler" name="SitecoreScheduler" />
		</modules>
	</system.webServer>
	
  <system.web>
    <!-- Continue to run Sitecore without script validations -->
    <pages validateRequest="false" />

    <!-- Sitecore  http modules-->

    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" />
    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off" />
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="/sitecore/client/login/default.aspx" />
    </authentication>
    <!--  IDENTITY 
          If this setting is true, aspnet will run in the security context of the IIS authenticated 
          user (ex. IUSR_xxx).
          If false, aspnet will run in the security context of the default ASPNET user.
    -->
    <identity impersonate="false" />
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="true" requestLimit="5" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
          
          Note that Sitecore does not support cookieless sessions
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <!--
      httpRuntime Attributes:
        executionTimeout="[seconds]" - time in seconds before request is automatically timed out
        maxRequestLength="[KBytes]" - KBytes size of maximum request length to accept
        useFullyQualifiedRedirectUrl="[true|false]" - Fully qualifiy the URL for client redirects
        minFreeThreads="[count]" - minimum number of free thread to allow execution of new requests
        minLocalRequestFreeThreads="[count]" - minimum number of free thread to allow execution of new local requests
        appRequestQueueLimit="[count]" - maximum number of requests queued for the application
      -->
    <httpRuntime maxRequestLength="16384" executionTimeout="1800" requestValidationMode="2.0" />
		<machineKey validation="SHA1" compatibilityMode="Framework20SP1" />
  </system.web>
</configuration>